 .top_searchbox{
    background-color: #000000;
    padding: 10px 0px 0px 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 1;
    position: relative;
    top: 10px;
    display: inline-block;
    width: 100%;
} 

#list-table tr td p.list-text{
	    padding-top: 12px;
}
#list-table tr td p.Activate,#list-table tr td p.Deactivate,.mj_pricing_footer{
    cursor: pointer;
}


.list-text.mj_mainbtn.mj_btnblue.contact-seeker,.list-text.mj_mainbtn.mj_btnblue.contact-recruiter{
    text-align: center;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    color: #fff;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
    padding: 10px 20px;
    background-color: #00bff3;
    border-radius: 35px;
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
    text-decoration: none;
}

.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default .select2-selection--multiple{
    border: none;
}

.ui-datepicker .ui-datepicker-title select{
    background: #fff;
    color: #676363;
    font-weight: normal;
    padding: 3px 0px 3px 5px;
    font-size: 17px;
}

.mj_mainbtn,.mj_showmore{
    cursor: pointer;
}
.mj_mainbtn::before{
    /*top: 2px;*/
    /*padding-top: 17px;*/
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    background: #000;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b{
        border-color: #fff transparent transparent transparent;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
        border-color: transparent transparent #fff transparent;
}

.add-new-button-wrapper{
        margin: 15px 0px 0px 0px;
}

.previously-selected{
        color: #959595;
    float: left;
    width: 100%;
    font-size: 13px;
    margin: 10px 0;
    text-align: left;
}

#list-table .list-only-text{
        text-align: left;
    padding-left: 15px;

}
.remove-left-padding{
    padding-left: 0;
}

.mj_tabcontent .table tr td p.skill-set-list{
    padding: 3px 8px;
    display: inline-block;
    border-radius: 30px;
    color: #fff;
    letter-spacing: 1px;
    margin-top: 5px;
    background: #fecb16;
    font-weight: bolder;
}

.woo-cart-table{
    margin-top: 15px;
}

.mj_tabcontent .table tr td:first-child a.text-left-a{
    text-align: left;
}
.container{
    width:98%;
}

#assign-company-wrapper{
        padding: 0px 25px;
}

#no-data-available{
    text-align: center;
    padding: 10px;
}
li.message:focus{
    outline: 0;
}
.uploaded-img{
    width: 100px;
    height: auto;
}

.logo-size{
    width: 50px;
    height: 50px;
}

.img-size-70{
    width: 70px;
    height: 70px; 
}

#error,.error{
        color: red;
        display: none;
}

.show-must{
    display: block !important;
  }
  .mj_preloaded_serach{
    background-color: #fff;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2147483647;
    width: 100%;
    height: 100%;
}
.mj_preloader_serach {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 60px;
  z-index:1000;
  margin: -30px 0 0 -40px;
}
.mj_preloader_serach .lines {
  width: 80px;
  height: 40px;
  position: absolute;
}
.mj_preloader_serach .lines .line {
  width: 80px;
  height: 10px;
  background-color: #000;
  position: absolute;
  clip: rect(0, 0, 20px, 0);
}
.mj_preloader_serach .lines .line.line-1 {
  top: 0;
  -webkit-animation: slide 2s ease 0s infinite;
   animation: slide 2s ease 0s infinite;
}
.mj_preloader_serach .lines .line.line-2 {
  top: 15px;
  -webkit-animation: slide 2s ease 0.25s infinite;
   animation: slide 2s ease 0.25s infinite;
}
.mj_preloader_serach .lines .line.line-3 {
  top: 30px;
  -webkit-animation: slide 2s ease 0.5s infinite;
   animation: slide 2s ease 0.5s infinite;
}
.mj_preloader_serach .loading-text {
  position: absolute;
  top: 50px;
  text-align: center;
  width: 100%;
  color: #000;
  font-size: 13px;
  font-family: sans-serif;
  letter-spacing: 3px;
  line-height: 10px;
  height: 10px;
  -webkit-animation: fade 1s ease 0s infinite;
   animation: fade 1s ease 0s infinite;
}
@-webkit-keyframes slide {
  0% {
    clip: rect(0, 0, 20px, 0);
  }
  30% {
    clip: rect(0, 80px, 20px, 0);
  }
  50% {
    clip: rect(0, 80px, 20px, 0);
  }
  80% {
    clip: rect(0, 80px, 20px, 80px);
  }
  100% {
    clip: rect(0, 80px, 20px, 80px);
  }
}
@keyframes slide {
  0% {
    clip: rect(0, 0, 20px, 0);
  }
  30% {
    clip: rect(0, 80px, 20px, 0);
  }
  50% {
    clip: rect(0, 80px, 20px, 0);
  }
  80% {
    clip: rect(0, 80px, 20px, 80px);
  }
  100% {
    clip: rect(0, 80px, 20px, 80px);
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}