.Deactivate{
    color: red !important;
}

.Activate{
    color: green !important;;
}

span.select2.select2-container{
    width:95% !important;
    border-bottom: 1px solid #aeaeae;
}

.mj_profilediv ul li:last-child a,ul.mj_right_menu.mj_login_menu li a{
    margin-left: 0 !important;
}